.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
}

/* Front of card */
.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 200ms;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 200ms;
}

/* Back of card */
.card .back {
  transition: all ease-in 200ms;
  transition-delay: 200ms;
}

.flipped .back{
  transform: rotateY(90deg);
  transition-delay: 0ms;
}

.shine {
  box-shadow: 5px 5px 5px 5px gold;
}